
:root {
    --primary-5: #3060fd;
    --info-5: #8c8c8c;
    --success-5: #02c640;
    --warning-5: #fdb123;
    --danger-5: #ff2b2b;
    --primary-2: #9696ff;
    --info-2: #d8d8d8;
    --success-2: #a5ffa5;
    --warning-2: #ffdc9b;
    --danger-2: #ff9e9e;
}