.sn-button-group {
    .sn-button {
        &:not(:last-child) {
            border-right: 1px solid var(--sn-button-divider-color);
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }

        &:not(:first-child) {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }
    }
}